/Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf

# Ignore cloned dependencies
/Common/MU_TIANO
/MU_BASECORE
/Silicon/Intel/MU_TIANO

# Ignore unused UDK PKGs.
/Conf/
